<footer style="padding-top: 40px;">
  <div class="uk-section uk-section-default">
    <div class="uk-container">
      <h3>Ticket - ticketing | event mngmt</h3>
      <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
        <div>
          <p>Mail us at hello@birovince.com</p>
        </div>
        <div>
          <p>Our number: +3620 0000000</p>
        </div>
        <div>
          <p>All rights reserved &copy; 2020. Ticket Ltd</p>
        </div>
      </div>
      <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
        <img src="/assets/barion-card-strip-intl_200px.png" alt="Barion">
        <p><a href="http://mintawebaruhaz.fogyasztovedelem.kormany.hu/hu/informaciok/aszf" target="blank">ÁSZF</a></p>
        <p><a href="https://birovince.com/nincsilyen" target="blank">Adatvédelem</a></p>
      </div>
    </div>
  </div>
</footer>
</body>

</html>
