<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <!-- This aint displayed in Chrome-->
  <link rel='shortcut icon' type='image/png' href='/assets/logo.png' />
  <title><%= title %></title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>
  <style>
    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    @media only screen and (max-width: 900px) {
      #logo {
        position: absolute;
        right: 0px;
        top: 100%;
      }
    }

  </style>
</head>

<body>