<nav class="uk-navbar-container uk-navbar" uk-navbar style="background: none!important;">
    <% if ( typeof guest !== "undefined" ) { %>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <img src="/assets/logo.png" alt="Ticket logo" width="40" style="display: inline-block; margin: 15px;">
                <a style="display: inline-block;" href="/">BACK TO HOME</a>
            </li>
        </ul>
    </div>
    <% } else { %>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li <% if ( typeof eventsTab !== "undefined") { %> class="uk-active" <% } %>>
                <a href="/events">EVENTS</a>
            </li>
            <li <% if ( typeof profile !== "undefined") { %> class="uk-active" <% } %>>
                <a href="/profile">PROFILE</a>
            </li>
            <li <% if ( typeof ticketsTab !== "undefined") { %> class="uk-active" <% } %>>
                <a href="/tickets">TICKETS</a>
            </li>
            <% if (user.isAdmin) { %>
            <li <% if (typeof admin !== 'undefined') { %> class="uk-active" <% } %>><a href="/admin">ADMIN</a></li>
            <% } %>
            <li><a href="/logout">LOGOUT</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li style="padding-right: 10px;">
                <span style="line-height: 20px;"><%= user.name %></span>
                <span uk-icon="icon: user" style="padding: 5px;"></span>
            </li>
        </ul>
    </div>
    <% } %>

</nav>